alias ..='cd ..'
alias grep='grep --color=auto'
alias df='df -H'
alias mplayer="mplayer -msgcolor"

alias v='vim'
alias vi='vim'
alias svi='sudo vim'

alias mv='mv -v'
alias cp='cp -v'
alias srm="sudo rm -Rfv"

alias update='sudo apt-get update && sudo apt-get upgrade'
alias sai='sudo apt-get install -y'

alias gs='git status -bs'
alias ga='git add --all '
alias gcm='git commit -m'
alias gco='git checkout'


alias tmux='TERM=screen-256color-bce tmux'

# Python Virtual ENV
alias activate='source ./bin/activate'
